node_modules
.DS_Store
Thumbs.db
.next
out
dist
coverage
.turbo
.vercel
.env
.env.local
.env.*.local
*.log
.idea
.vscode/*
!.vscode/extensions.json
tsconfig.tsbuildinfo
next-env.d.ts
playwright-report
test-results
.lighthouseci
